<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>inse</servlet-name>
        <servlet-class>inse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>flibo</servlet-name>
        <servlet-class>flibo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>book</servlet-name>
        <servlet-class>book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bookingdone</servlet-name>
        <servlet-class>bookingdone</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ticket</servlet-name>
        <servlet-class>ticket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogin</servlet-name>
        <servlet-class>Adminlogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>inse</servlet-name>
        <url-pattern>/inse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>flibo</servlet-name>
        <url-pattern>/flibo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>book</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bookingdone</servlet-name>
        <url-pattern>/bookingdone</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ticket</servlet-name>
        <url-pattern>/ticket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogin</servlet-name>
        <url-pattern>/Adminlogin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
